header {
    display: flex;
    align-items: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
    background: #c4c754;
  }
  
  .logo {
    max-width: 5rem;
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }
  
  /* MENU HAMBURGUESA */
  
  /* Estilos del botón de apertura */
  #openModal {
    background-color: #c4c754;
    color: #0c0707;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
  }
  
  /* Estilos del modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos del contenido del modal */
  .modal-content {
    background-color: #c4c754;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
  }
  
  /* Estilos del botón de cierre */
  .close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos de la lista de enlaces del menú */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    color: #333;
    text-decoration: none;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  
  #btnGroupAddon2 {
    background-color: #fc5c9c;
    border: #fc5c9c;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
     
  }
  
  .input-group .form-control {
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1.5rem;
  width: 250px;
  height: 42px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.17);
  border-radius: 16px;
  }
  
  .container_1 {
    margin: 0.1rem 0.7rem 0.5rem 0.8rem;
  }
  
  .container_2 {
    margin: 0.1rem 8rem 0.3rem 40rem;
  }
  
  .container_3 {
    margin: 0.1rem 0.7rem 0.3rem 20rem;
  }
  
  .container_4 {
    margin: 0.1rem 0.7rem 0.3rem 1rem;
  }
  
  .img_icon_ham {
    width: 25px;
  }
  
  .img_icon_ham_close {
    width: 18px;
    margin: 0.1rem 0.7rem 0.5rem 0.8rem;
  }
  
  /* MEDIA QUERIES */
  @media only screen and (max-width: 740px) {
  
    .input-group .form-control {
      display: none;
    }
  
    #btnGroupAddon2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2px;
      gap: 10px;
      width: 32px;
      height: 32px;
      border-radius: 50px;
    }
  
    .container_1 {
      margin: 0.1rem 0.7rem 0.5rem 0.6rem;
    }
  
    .container_2 {
      margin: 0.1rem 0.1rem 0.3rem 5.5rem;
    }
  
    .container_3 {
      margin: 0.1rem 0.7rem 0.3rem 3rem;
    }
  
    .container_4 {
      margin: 0.1rem 0.2rem 0.3rem 0.7rem;
    }
  }

  /* Edición del main */

  main {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    display: flex;
    justify-content: center; /* Centrar de manera lateral*/
  }

  .banner {
    background: url(../../assets/img/banner.png);
    border-radius: 20px;
    margin-top: 35px;
    margin-bottom: 50px;
  }

  .text-centro {
    line-height: 29px;
    margin-top: 80px;
    margin-left: 70px;
    margin-bottom: 30px;
  }

  .elementos-opciones{
    background-color: #FFFFFF;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .opciones {
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    width: 0;
    height: 270px;   
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    margin: 20px;
  }

  .text-interno {
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .img-circulo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


